<div class="xl-4-1 lg-3-1 md-2-1">
  <div class="thumbnail person-thumbnail">
    <div class="image-circle">
      <%= gravatar_picture person %>
    </div>
    <h3><%= person.name %></h3>
    <% unless person.twitter.empty? %>
      <%= link_to twitter_url(person), class: "link", target: "blank", title: "Twitter" do %>
        <i class="fa fa-twitter fa-2x"></i>
      <% end %>
    <% end %>

    <% unless person.github.empty? %>
      <%= link_to github_url(person), class: "link", target: "blank", title: "Github" do %>
        <i class="fa fa-github  fa-2x"></i>
      <% end %>
    <% end %>

    <% unless person.web.empty? %>
      <%= link_to url_with_protocol(person.web), class: "link", target: "blank", title: "Blog" do %>
        <i class="fa fa-bookmark fa-2x"></i>
      <% end %>
    <% end %>
  </div>
</div>
