<div class="content">
  <div class="container">
    <div class="page-actions">
      <h2 class="pull-left">Topluluk</h2>
      <%= link_to('Yeni Kişi Ekle', new_person_path, class: 'btn btn-lg btn-success') %>  
    </div>
    <!--/ .page-actions -->
    
    <div class="row">
      <% @persons.each do |item| %>
        <div class="col-md-2">
          <div class="thumbnail">
            <img src="<%= item.gravatar_url %>?s=250">
            <h3><%= item.name %></h3>

            <div class="social">
              <a href="http://twitter.com/<%= item.twitter %>" class="btn btn-default btn-twitter" target="_blank" title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>

              <a href="http://github.com/<%= item.github %>" class="btn btn-default btn-github" target="_blank" title="GitHub">
                <i class="fa fa-github"></i>
              </a>

              <a href="<%= url_with_protocol item.web%>" class="btn btn-default" target="_blank" title="Blog">
                <i class="fa fa-bookmark"></i>
              </a>
            </div>
          </div>
          <!--/ .thumbnail -->
        </div>
      <% end %>
    </div>
    <!--/ .row -->

  </div>
  <!--/ .container -->
</div>
<!--/ .content -->