<div class="container">
  <div class="row gutter-20-xs gutter-out-xs left-lg">
    <div class="xs-1">
      <div class="page-header">
        <h2>Yeni İlan Oluşturun</h2>
      </div>

      <%= form_for @job do |f| %>
          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title">
              <%= f.label :title %>
            </div>
            <div class="lg-12-5">
              <%= f.text_field :title, class: "form-control" %>
              <% if @job.errors.has_key?(:title) %>
                  <em class="error"><%= @job.errors[:title].join(',') %></em>
              <% end %>
            </div>
          </div>

          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title">
              <%= f.label :company %>
            </div>
            <div class="lg-12-5">
              <%= f.text_field :company, class: "form-control" %>
              <% if @job.errors.has_key?(:company) %>
                  <em class="error"><%= @job.errors[:company].join(',') %></em>
              <% end %>
            </div>
          </div>

          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title">
              <%= f.label :description %>
            </div>
            <div class="lg-12-5">
              <%= f.text_area :description, class: "form-control" %>
              <% if @job.errors.has_key?(:description) %>
                  <em class="error"><%= @job.errors[:description].join(',') %></em>
              <% end %>
            </div>
          </div>

          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title">
              <%= f.label :link %>
            </div>
            <div class="lg-12-5">
              <%= f.text_field :link, class: "form-control" %>
              <% if @job.errors.has_key?(:link) %>
                  <em class="error"><%= @job.errors[:link].join(',') %></em>
              <% end %>
            </div>
          </div>

          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title">
              <%= f.label :location %>
            </div>
            <div class="lg-12-5">
              <%= f.text_field :location, class: "form-control" %>
              <% if @job.errors.has_key?(:location) %>
                  <em class="error"><%= @job.errors[:location].join(',') %></em>
              <% end %>
            </div>
          </div>

          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title"><%= f.label :humanizer_answer, @job.humanizer_question %></div>
            <div class="lg-12-5">
              <%= f.text_field :humanizer_answer, class: "form-control" %>
              <% if @job.errors.has_key?(:humanizer_answer) %>
                  <%= @job.errors[:humanizer_answer].join(',') %>
              <% end %>
            </div>
          </div>

          <%= f.hidden_field :humanizer_question_id %>

          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title"></div>
            <div class="lg-12-5"><%= f.submit 'Oluştur', class: "btn" %></div>
          </div>
      <% end %>

    </div>
  </div>
</div>
