<div class="container">
  <div class="row gutter-20-xs gutter-out-xs center-lg">
    <div class="xs-1 left-lg">
      <div class="page-header">
        <h2><%= @job.title %></h2>
      </div>
      <div>
        <h4>Şirket:</h4>
        <%= @job.company %>
        <br/><br/>
        <h4>Açıklama:</h4>
        <%= @job.description %>
        <br/><br/>
        <h4>Konum:</h4>
        <%= @job.location %>
        <br/><br/>
      </div>
      <div class="lg-12-3">
        <a class="btn" href="<%= url_with_protocol(@job.link) %>" target="_blank">
            <i class="fa fa-hand-o-up"></i> Başvur
        </a>
      </div>
    </div>
  </div>
</div>
