<%= render 'shared/header' %>

<div class="main-container">
    <div class="main wrapper clearfix">
    <br />
        <ul class="people">
          <% for person in @persons do %>
            <li class="person">
              <img src="http://www.gravatar.com/avatar/83cfa0588f13658f67feceb3ba1325fe/?s=150" />
              <div class="person-details">
                <h2><%= person.name %></h2>
                <div class="social">
                  <a href="<%= person.web %>">
                    <i class="fa fa-home fa-lg"></i>
                  </a>
                  <a href="https://github.com/<%= person.github %>">
                    <i class="fa fa-github fa-lg"></i>
                  </a>
                  <a href="https://twitter.com/<%= person.twitter %>">
                    <i class="fa fa-twitter fa-lg"></i>
                  </a>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
    </div>
</div> <!-- #main-container -->

<%= render 'shared/footer' %>