<%= render 'shared/header' %>
<%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>

<div class="main-container">
    <div class="main wrapper clearfix">
      <a class="button" href="people/new">Yeni Kişi Ekle</a>
    <br />
        <ul class="people">
          <% for person in @persons do %>
            <li class="person">
              <img src="<%= person.gravatar_url %>" />
              <div class="person-details">
                <h2><%= person.name %></h2>
                <div class="social">
                  <a href="<%= person.web %>">
                    <i class="fa fa-home fa-lg"></i>
                  </a>
                  <a href="https://github.com/<%= person.github %>">
                    <i class="fa fa-github fa-lg"></i>
                  </a>
                  <a href="https://twitter.com/<%= person.twitter %>">
                    <i class="fa fa-twitter fa-lg"></i>
                  </a>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
    </div>
</div> <!-- #main-container -->

<%= render 'shared/footer' %>