<%= render 'shared/header' %>
<div class="main-container">
  <div class="main wrapper clearfix">
    <br />
    <%= form_for @person, url: create_person_path do |f| %>
        <p>
          <%= f.label "Ad / Soyad" %><br>
          <%= f.text_field :name %>
        </p>

        <p>
          <%= f.label :email %><br>
          <%= f.text_field :email %>
        </p>

        <p>
          <%= f.label :blog %><br>
          <%= f.text_field :web %>
        </p>

        <p>
          <%= f.label :github %><br>
          <%= f.text_field :github %>
        </p>

        <p>
          <%= f.label :twitter %><br>
          <%= f.text_field :twitter %>
        </p>
        <p>
          <%= f.label :humanizer_answer, @person.humanizer_question %>
        </p>
        <p>
          <%= f.text_field :humanizer_answer %>
        </p>

        <%= f.hidden_field :humanizer_question_id %>


        <p>
          <%= f.submit "Kaydet" %>
        </p>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>