<div class="container">
  <div class="row gutter-20-xs gutter-out-xs left-lg">
    <div class="xs-1">
      <div class="page-header">
        <h2>Yeni Kişi Kaydı</h2>
      </div>

        <%= form_for @user do |f| %>
          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title">
              <%= f.label :name %>
            </div>
            <div class="lg-12-5">
              <%= f.text_field :name, class: "form-control" %>
              <% if @user.errors.has_key?(:name) %>
                <em class="error"><%= @user.errors[:name].join(',') %></em>
              <% end %>
            </div>
          </div>

          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title">
              <%= f.label :email %>
            </div>
            <div class="lg-12-5">
              <%= f.text_field :email, class: "form-control" %>
              <% if @user.errors.has_key?(:email) %>
                <em class="error"><%= @user.errors[:email].join(',') %></em>
              <% end %>
            </div>
          </div>

          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title"><%= f.label :web %></div>
            <div class="lg-12-5"><%= f.text_field :web, class: "form-control" %></div>
          </div>

          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title"><%= f.label :github %></div>
            <div class="lg-12-2"><%= f.text_field :github, class: "form-control" %></div>
          </div>

          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title"><%= f.label :twitter %></div>
            <div class="lg-12-2"><%= f.text_field :twitter, class: "form-control" %></div>
          </div>

          <div class="row gutter-20-xs left-lg">
            <div class="lg-12-3 form-title"></div>
            <div class="lg-12-5"><%= f.submit 'Kaydet', class: "btn" %></div>
          </div>
        <% end %>

    </div>
  </div>
</div>
