<footer class="animated fadeIn">
  <div class="container">
    <div class="row gutter-20-xs gutter-out-xs left-lg">
      <div class="lg-2-1">&copy; <%= Time.now.year %> - Ruby Türkiye</div>
      <div class="lg-2-1 text-right">
        <%= link_to "https://twitter.com/ruby_turkiye", target: "_blank" do %>
          <%= fa_icon "twitter", text: "Twitter" %>
        <% end %>
        <%= link_to 'https://www.meetup.com/Ruby-Turkiye/', target: '_blank' do %>
          <%= fa_icon 'meetup', text: 'Meetup' %>
        <% end %>
        <%= link_to 'https://www.facebook.com/rubyturkiye', target: '_blank' do %>
          <%= fa_icon 'facebook', text: 'Facebook' %>
        <% end %>
        <%= link_to "https://github.com/rubytr", target: "_blank" do %>
          <%= fa_icon "github", text: "Github" %>
        <% end %>
        <%= link_to "https://kommunity.com/ruby-turkiye", target: "_blank" do %>
          <%= fa_icon "users", text: "Kommunity" %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
<%= jquery_include_tag :google %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXX-X']);
  _gaq.push(['_trackPageview']);

  (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
