<header class="animated fadeIn">
  <div class="container">
    <div class="row gutter-20-xs gutter-out-xs left-lg">
      <div class="lg-12-4">
        <h1><a href="/"><%= image_tag "ruby-logo@2x.png" %>Ruby <span>Türkiye</span></a></h1>
      </div>
      <div class="lg-12-8">
        <div id="top-navbar-right" class="row gutter-10-xs nav">
          <div>
            <%= link_to users_path do %>
              <%= fa_icon "users", text: "Topluluk" %>
            <% end %>
          </div>
          <div>
            <%= link_to companies_path do %>
              <%= fa_icon "building", text: "Firmalar" %>
            <% end %>
          </div>
          <div>
          <%= link_to "https://slack.rubyturkiye.org/", target: "_blank" do %>
            <%= fab_icon "slack-hash", text: "Slack" %>
          <% end %>
          </div>
          <div>
            <%= link_to "https://discuss.rubyturkiye.org/", target: "_blank" do %>
              <%= fab_icon "discourse", text: "Discourse" %>
            <% end %>
          </div>
          <% if current_user %>
            <div class="lg-5-1">
              <%= link_to edit_user_registration_path, class: 'user-name truncate' do %>
                <%= fa_icon "user", text: current_user.name %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
