<div class="container">
  <div class="row gutter-20-xs gutter-out-xs left-xs">
    <div class="xl-12-8 lg-12-7">
      <% @announcements.each do |announcement| %>
      <article class="news">
        <h2><%= announcement.title %></h2>
        <p><%= Kramdown::Document.new(announcement.content).to_html.html_safe %></p>
      </article>
      <% end %>
    </div>
    <div class="xl-12-4 lg-12-5">
      <aside>
        <h3>Ruby Türkiye nedir ?</h3>
        <p>
          Türkiye'deki Ruby programcıları ve Ruby severler topluluğudur. Ruby ile program yazan ve ilgilenen herkese kapımız açıktır.
        </p>

        <div id="events">
          <h3>Yaklaşan etkinlik var!</h3>
          <ul></ul>
        </div>

        <h3>Nasıl iletişim kurabilirim ?</h3>
        <ul class="connect-links">
          <li><%= link_to "Twitter", "https://twitter.com/ruby_turkiye" %></li>
          <li><%= link_to "Discord", "https://discord.gg/HMr5nQcFy4" %></li>
          <li><%= link_to "Discourse", "https://discuss.rubyturkiye.org/" %></li>
          <li><%= link_to "Yakut - Haftalık Video Bülten", "https://www.youtube.com/playlist?list=PLEWqXxI7lAZIHZ4s3fcuy1UmF_YiQkZpi" %></li>
        </ul>

        <h3>Nasıl yardım alabilirim ?</h3>
        <p>
          Discord kanalımızda veya Discourse forumumuzda sorularınızı paylaşabilirsiniz.
        </p>
      </aside>
    </div>
  </div>
</div>
