<div class="container">
  <div class="row gutter-20-xs gutter-out-xs left-xs">
    <div class="xl-12-8 lg-12-7">
      <% @announcements.each do |announcement| %>
      <article class="news">
        <h2><%= announcement.title %></h2>
        <p><%= Kramdown::Document.new(announcement.content).to_html.html_safe %></p>
      </article>
      <% end %>
    </div>
    <div class="xl-12-4 lg-12-5">
      <aside>
        <h3>Ruby Türkiye nedir ?</h3>
        <p>
          Türkiye'deki Ruby programcıları ve Ruby severler topluluğudur. Ruby ile program yazan ve ilgilenen herkese kapımız açıktır.
        </p>

        <div id="events">
          <h3>Yaklaşan etkinlik var!</h3>
          <ul></ul>
        </div>

        <h3>Nasıl iletişim kurabilirim ?</h3>
        <ul class="connect-links">
          <li><%= link_to "Twitter", "https://twitter.com/ruby_turkiye" %></li>
          <li><%= link_to "Mail Grubu", "/group" %></li>
          <li><%= link_to "Slack Kanalı", "https://rubytr.slack.com" %></li>
          <li><strike><%= link_to "Haftalık Bülten", "https://www.getrevue.co/profile/ruby_turkiye" %></strike></li>
        </ul>

        <h3>Nasıl yardım alabilirim ?</h3>
        <p>
          Slack kanalımızda veya mail listemizde sorularınızı paylaşabilirsiniz.
        </p>

        <a class="btn btn-green" href="https://groups.google.com/forum/#!forum/ruby-tr"><i class="fa fa-envelope"></i> Mail Listemize Kaydolun!</a>
      </aside>
    </div>
  </div>
</div>
