<div class="container">
  <div class="row gutter-20-xs gutter-out-xs center-lg">
    <div class="xs-1 left-lg">
      <div class="page-header">
        <h2>Firmalar</h2>
        <%= render "shared/notice" %>
      </div>
    </div>
  </div>
  <div class="xs-1">
    <% if user_signed_in? %>
      <%= link_to new_company_path do %>
        <%= fa_icon "plus-square", text: "Yeni firma ekle" %>
      <% end %>
    <% else %>
      <%= link_to user_github_omniauth_authorize_path, class: 'btn btn-github', method: :post do %>
        <%= fab_icon "github", text: "Yeni firma eklemek için GitHub ile giriş yapın" %>
      <% end %>
    <% end %>
  </div>
  <hr \>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Şirket</th>
        <th>Sektör</th>
        <th>Şehir</th>
        <th>URLs</th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.title %></td>
          <td><%= company.sector %></td>
          <td><%= company.city %></td>
          <td>
            <%= link_to fa_icon("globe"), "http://#{company.url}", target: "_blank" %>
            <% if company.github.present? %>
              <%= link_to fab_icon("github"), "http://github.com/#{company.github}", target: "_blank" %>
            <% end %>
            <% if company.twitter.present? %>
              <%= link_to fab_icon("twitter"), "http://twitter.com/#{company.twitter}", target: "_blank" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
