<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ruby Türkiye</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <%= render 'shared/header' %>
      <%= yield %>
    </div>
    <!--/ #wrap -->
    <%= render 'shared/footer' %>
  </body>
</html>
